.forumThreadStatus {
	display: block;
	text-align: right;
	color: red;
}

.postTypeLabel {
	text-align: right;
	clear: right;
	color: red;
}

.postTextBorder {
	border-style: solid;
	padding: 0.5em;
	margin: 0.5em;
	border-color: #3399f3;
	border-width: 2px;
}

.postTextArea {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
}

.addPostButton {
	margin: 0.5em;
}
